<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="full">
    <ion-avatar slot="end">
      <img src="assets/minhafoto.jpg" />
    </ion-avatar>
    <ion-label class="ion-text-wrap">
      <div>
        <h2>Ana Beatriz Gomes</h2>
        <p>Aluna da Etec "Cidade do Livro"</p>
        <p>Lençóis Paulista-SP</p>
        <p>(14)99834-5248</p>
        <p>
          <a href="mailto:ana.gomes279@etec.sp.gov.br">
            ana.gomes279@etec.sp.gov.br
          </a>


        </p>

      </div>
    </ion-label>
  </ion-item>
  <div  class="ion-text-center">
    <img src= "https://assets.pokemon.com/static2/br/img/icons/tcgo_logo.png ">
  </div>
  <ion-item lines="full">
    <ion-label>Versão</ion-label>
    <ion-badge slot="end" color="tertiary">0.1</ion-badge>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Ano</ion-label>
    <ion-badge slot="end" color="tertiary">2021</ion-badge>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Turma</ion-label>
    <ion-badge slot="end" color="tertiary">A</ion-badge>
  </ion-item>

</ion-content>
